ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #75A384;
  }
  
  .title {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .navbar {
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background:#75A384;
  }
  .nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .nav-links>a{
    text-decoration: none;
  }